div.champion {
    height: 40px;
    border-style: solid;
    border-color: gray;
    border-width: 0 0 0 5px;
    margin: 5px;
    padding-left: 5px;
    white-space: nowrap;
    
}
div.mystic {
    border-color: #90f;
}
div.cosmic {
    border-color: #3af;
}
div.tech {
    border-color: #23f;
}
div.mutant {
    border-color: #fa0;
}
div.skill {
    border-color: #f30;
}
div.science {
    border-color: #0a0;
}
img.portrait {
    display: inline-block;
    vertical-align: top;
    height: 40px;
}
div.text {
    display: inline-block;
    padding-left: 5px;
}
div.name {
    font-size: 16px;
    line-height: 20px;
}
div.tags {
    font-size: 12px;
    line-height: 14px;
}
span.tag {
    margin-right: 5px;
}
span.tag.matched {
    color: green;
}